{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<style>
    body {
        background-color: rgba(0, 0, 255, 0.611);
    }

    .card {
        border-radius: 10px;
    }

    .card-body {
        padding: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
</style>{% endblock %}

{% block content %}
<section class="my-5">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h1>Algorithm Selection</h1>
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}